// General
$turquoise: #26A69A;
$white: #FFFFFF;
.divider-custom {
  margin:{
    left: auto;
    right: auto;
  }
  width: 50px;
  height: 1px;
  background-color: $turquoise;
}
.btn-network {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
}

.fa-linkedin:before {
  position: relative;
  top: -7px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mt60 {
  margin-top: 60px;
}
.mt70 {
  margin-top: 70px;
}
.mt80 {
  margin-top: 80px;
}
.mt90 {
  margin-top: 90px;
}
.mt100 {
  margin-top: 100px;
}
.mt110 {
  margin-top: 110px;
}
.mt120 {
  margin-top: 120px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.no-mb {
  margin-bottom: 0;
}
body {
  background-color: $white;
  position: relative;
  font-family: Open Sans, sans-serif;
}
#back-to-top.show {
  opacity: 1;
}
#back-to-top {
  position:fixed;
  bottom:0;
  right:0;
  background: $turquoise;
  padding:10px;
  margin:20px;
  transition: opacity 0.2s ease-out;
  opacity: 0;
  .material-icons {
    color: $white;
  }
  z-index: 1;
}
// sidenav
#title-side-nav {
  color: #000000;
  font-weight: bold;
}
h1 {
  font-size: 22px;
}
.spinner-red, .spinner-custom {
  border-color: $turquoise;
}
@mixin animation($type, $delay) {
  -webkit-animation: $type $delay;
  -moz-animation: $type $delay;
  -ms-animation: $type $delay;
  -o-animation: $type $delay;
  animation: $type $delay;
}
#container-all {
  @include animation(fadein, 1s);
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
// begin footer
.container-footer {
  padding: {
    top: 2%;
    bottom: 2%;
  }
}
// end footer
#loader {
  position: absolute;
  top: 50%; left: 50%;
}
// end general