// Center menu and remove native color Material
#menu:not(.button-collapse-side) {
  width: 100%;
  box-shadow: none;
  background-color: $white;
  position: fixed;
  top:0;
  z-index: 2;
  box-shadow: 0 3px 2px -2px #A5A5A5;
  height: 70px;
}
#nav-mobile {
  position: fixed;
  left: 50%;
  transform: translate(-40%, 0);
  width: 70%;
}
.button-collapse-side {
  display: none;
}
// style anchor
.li-menu a {
  color: $turquoise;
  &:hover {
    background: transparent;
    color: #80cbc4 !important;
  }
  // border hover effect
  &:after {
    content: '';
    display: block;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    position: relative;
    bottom: 15px;
  }
  &:hover:after {
    width: 100%;
    background: $turquoise;
  }
}
#logo-medpharmacom-menu {
  display: none;
}
#logo-home-pc:hover {
  background: transparent;
}
// responsive
@media screen and (max-width: 1420px) {
  #nav-mobile {
    width: 85%;
  }
  .li-menu a {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 788px) {
  #nav-mobile {
    width: 100%;
  }
}
@media screen and (min-width: 665px) {
  #logo-medpharmacom-menu-pc {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 660px) {
  #logo-medpharmacom-menu-pc {
    display: none;
  }
  #logo-medpharmacom-menu {
    display: block;
    width: 30%;
  }
  .button-collapse-side {
    position: absolute;
    display: block;
    right: 0;
  }
  #nav-mobile .li-menu:not(#burger-menu) {
    display: none;
  }
  .button-collapse-side {
    top: -40px;
  }
}
@media screen and (max-width: 500px) {
  #logo-medpharmacom-menu {
    width: 40%;
  }
}
@media screen and (max-width: 440px) {
  .button-collapse-side {
    top: -48px;
  }
}
// responsive mobile generic
@media screen and (max-width: 380px) {
  #logo-medpharmacom-menu {
    width: 55%;
  }
  .button-collapse-side {
    top: -50px;
  }
}