// Center menu and remove native color Material
#menu:not(.button-collapse-side) {
  width: 100%;
  box-shadow: none;
  background-color: $white;
  position: fixed;
  top:0;
  z-index: 2;
  box-shadow: 0 3px 2px -2px #A5A5A5;
  height: 130px;
}
#nav-mobile {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}
#logo-medpharmacom-menu-pc {
  display: block;
  margin: {
    right: auto;
    left: auto;
  }
  width: 50%;
}
#burger-menu {
  display: none;
}
.button-collapse-side {
  display: none;
}
// style anchor
.li-menu {
  float:left;
}
.li-menu a {

  display:block;
  text-align:center;
  text-decoration:none;

  color: $turquoise;
  &:hover {
    background: transparent;
    color: #80cbc4 !important;
  }
  // border hover effect
  &:after {
    content: '';
    display: block;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    position: relative;
    bottom: 15px;
  }
  &:hover:after {
    width: 100%;
    background: $turquoise;
  }
}
#logo-medpharmacom-menu {
  display: none;
}
#logo-home-pc:hover {
  background: transparent;
}
@media screen and (max-width: 1610px){
  #nav-mobile {
    width: 800px;
  }
}
// responsive
@media screen and (max-width: 1420px) {
  #nav-mobile {
    width: 700px;
    margin: 0 auto;
    list-style: none;
  }
  .li-menu a {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 665px) {
  #logo-medpharmacom-menu-pc {
    width: 150px;
    height: auto;
  }
}
@media screen and (max-width: 664px) {
  #menu:not(.button-collapse-side) {
    height: 64px;
  }
  #logo-medpharmacom-menu-pc {
    display: none;
  }
  #burger-menu {
    display: block;
    position: absolute;
    right: 15%;
  }
  #logo-medpharmacom-menu {
    display: block;
    width: 150px;
  }
  .button-collapse-side {
    position: absolute;
    display: block;
    right: -40px;
    top: -60px;
  }
  #nav-mobile .li-menu:not(#burger-menu) {
    display: none;
  }
}
@media screen and (max-width: 560px) {
  #burger-menu {
    right: 25%;
  }
}

@media screen and (max-width: 390px) {
  #burger-menu {
    right: 30%;
  }
}

@media screen and (max-width: 350px) {
  #burger-menu {
    right: 35%;
  }
}