@import "_general.scss";
@import "_menu.scss";
#contact-form {
  text-align: center;
  border: 0.5px solid #aaaaaa;
  border-radius: 4px;
  padding-bottom: 10px;
}
#contact {
  margin-top: 20px;
}
// responsive
@media screen and (min-width: 1700px) {
  #contact-form {
    margin-top: 4%;
  }
}
@media screen and (max-width: 1699px) {
  #contact-form {
    margin-top: 7%;
  }
}
@media screen and (max-width: 992px){
  #contact-form {
    box-shadow: none;
    border: none;
  }
  #info-contact {
    margin-top: 25%;
  }
}