@import "_general.scss";
@import "_menu.scss";

.goodies-img {
  max-height: 300px;
}
.name-goodies {
  font: {
    size: 18px;
    weight: 600;
  }
  text-decoration: underline;
}
#contact-form {
  border: {
    width: 1px;
    style: solid;
    color: #e2e3e5;
    radius: 4px;
  }
  padding: 2%;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}