@import "_general.scss";
@import "_menu.scss";
// beginning carousel
.carousel {
  height: 700px;
  // Indicator color
  .indicators .indicator-item {
    background-color: #80cbc4;
    padding:0.3%;
  }
}
// active indicator colors
.carousel .indicators .indicator-item.active {
  background-color: $turquoise;
}
#slider-home {
  margin-top: 64px;
}
// carousel logos
.owl-carousel img {
  max-width:220px;
  max-height:95px;
  width: auto;
  height: auto;
}
// end carousel
// begin content after carousel
.head-home {
  text-align: center;
  .card {
    border: 1px solid #EEEEEE;
    box-shadow: none;
    border-bottom: 3px solid $turquoise;
    height: 380px;
    .card-title {
      color: $turquoise;
    }
    .card-content p {
      color: #727272;
      font-size: 18px;
    }
  }
  h1 {
    font-size: 22px;
    text-transform: uppercase;
    color: $turquoise;
  }
  p {
    font-size: 18px;
  }
  .material-icons {
    font-size: 50px !important;
    margin-top: 20px;
    color: $turquoise;
  }
}
.logo-sante {
  width: 130px;
  height: 130px;
}
.row-logo {
  text-align: center;
}
.overlay:not(.centered) {
  background-color: rgba(0,0,0,0.3);
  z-index: 2;
}
.alternate-div {
  margin-bottom: 0;
  text-align: left;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 30px;
  color: #dddddd;
  text-shadow: #000 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
}
// end content after carousel
// responsive
@media screen and (max-width: 800px) {
  .head-home {
    p {
      font-size: 15px;
    }
    .card {
      height: 250px;
      .card-title {
        font-size: 18px;
      }
      .card-content p {
        font-size: 15px;
      }
    }
  }

}
@media screen and (max-width: 600px) {
  #slider-home {
    margin-top: 57px;
  }
}