@import "_general.scss";
@import "_menu.scss";

.card-search {
  height: 150px;
  position: relative;
  .btn-laboratoire {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
.img-lab-medic {
  height: 100px;
}

.card {
  overflow: hidden;
  text-overflow: ellipsis;

  .card-content {
    height: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media screen and (max-width: 992px){
  .card {
    height: 450px;
    .card-content {
      height: 300px;
    }
  }
}
@media screen and (max-width: 600px){
  .card {
    height: auto;
  }
}