@import "_general.scss";
@import "_menu.scss";

.card-search {
  height: 150px;
  position: relative;
  .btn-laboratoire {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

.card {
  height: 50vh;
  overflow: hidden;
  text-overflow: ellipsis;

  .card-content {
    height: 170px;
  }
}
@media screen and (max-width: 992px){
  .card {
    height: 65vh;
    .card-content {
      height: auto;
    }
  }
}
@media screen and (max-width: 600px){
  .card {
    height: auto;
  }
}