.divider-custom {
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 1px;
  background-color: #26A69A;
}

.btn-network {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
}

.fa-linkedin:before {
  position: relative;
  top: -7px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.no-mb {
  margin-bottom: 0;
}

body {
  background-color: #FFFFFF;
  position: relative;
  font-family: Open Sans, sans-serif;
}

#back-to-top.show {
  opacity: 1;
}

#back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #26A69A;
  padding: 10px;
  margin: 20px;
  transition: opacity 0.2s ease-out;
  opacity: 0;
  z-index: 1;
}

#back-to-top .material-icons {
  color: #FFFFFF;
}

#title-side-nav {
  color: #000000;
  font-weight: bold;
}

h1 {
  font-size: 22px;
}

.spinner-red, .spinner-custom {
  border-color: #26A69A;
}

#container-all {
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container-footer {
  padding-top: 2%;
  padding-bottom: 2%;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
}

#menu:not(.button-collapse-side) {
  width: 100%;
  box-shadow: none;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0 3px 2px -2px #A5A5A5;
  height: 70px;
}

#nav-mobile {
  position: fixed;
  left: 50%;
  transform: translate(-40%, 0);
  width: 70%;
}

.button-collapse-side {
  display: none;
}

.li-menu a {
  color: #26A69A;
}

.li-menu a:hover {
  background: transparent;
  color: #80cbc4 !important;
}

.li-menu a:after {
  content: '';
  display: block;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
  position: relative;
  bottom: 15px;
}

.li-menu a:hover:after {
  width: 100%;
  background: #26A69A;
}

#logo-medpharmacom-menu {
  display: none;
}

#logo-home-pc:hover {
  background: transparent;
}

@media screen and (max-width: 1420px) {
  #nav-mobile {
    width: 85%;
  }
  .li-menu a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 950px) {
  #nav-mobile {
    left: 0;
    transform: none;
    width: 100%;
  }
}

@media screen and (max-width: 788px) {
  #nav-mobile {
    width: 100%;
  }
}

@media screen and (min-width: 665px) {
  #logo-medpharmacom-menu-pc {
    width: 150px;
    height: auto;
  }
}

@media screen and (max-width: 664px) {
  #logo-medpharmacom-menu-pc {
    display: none;
  }
  #burger-menu {
    position: absolute;
    right: 80px;
  }
}

@media screen and (max-width: 660px) {
  #logo-medpharmacom-menu {
    display: block;
    width: 150px;
  }
  .button-collapse-side {
    position: absolute;
    display: block;
    right: -40px;
    top: -60px;
  }
  #nav-mobile .li-menu:not(#burger-menu) {
    display: none;
  }
}

@media screen and (max-width: 440px) {
  #burger-menu {
    right: 40px;
    top: -10px;
  }
}

@media screen and (max-width: 380px) {
  .button-collapse-side {
    top: -50px;
  }
}

/*# sourceMappingURL=news.css.map */
